<h2><%= link_to sock.name.capitalize, sock %></h2>
<p>Price: ¥<%= sock.price %></p>
<%= cl_image_tag sock.photo.attached? ? cl_image_path(sock.photo.key, :width => 120, :height => 120, :crop => :limit
) : image_path(sock.photo_url, :width => 120, :height => 120, :crop => :limit
) %>
