<div class="footer">
  <p>Contact Us: airsocks@socks.com</p>
  <p>+81 080 555 1800</p>
  <p> Air Socks ©</p>
  <p>Made with love by <a href="https://github.com/anthonytjohnson">Anthony</a>, <a href="https://github.com/deetorz">Derek</a>, and <a href="https://github.com/melpicardal
">Mel</a></p>
</div>
