<%# <div class="footer">
  <p>Contact Us: airsocks@socks.com</p>
  <p>+81 080 555 1800</p>
  <p> Air Socks ©</p>
  <p>Made with love by <a href="https://github.com/anthonytjohnson">Anthony</a>, <a href="https://github.com/deetorz">Derek</a>, and <a href="https://github.com/melpicardal
">Mel</a></p>
</div> %>


<div class="footer">
  <div class="footer-links">
    <span>123 Sesame Street<span>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-socks"></i> by
    <%= link_to "Derek", "https://github.com/deetorz" %>,
    <%= link_to "Anthony", "https://github.com/anthonytjohnson" %>, and
    <%= link_to "Mel", "https://github.com/melpicardal" %>.


  </div>
</div>
