<div class="hero-image">
  <div class="hero-text">
    <div class="mb-5">
      <h1>Looking for a sock or two? We have you covered.</h1>
      <p>Check out all the socks available.</p>
    </div>
    <div class="mt-3">
      <%= link_to "See our socks!", socks_path, class: 'btn-slide' %>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <div class="mt-4">
          <h2>Step in a puddle? Got a hole in your sock? Dressing to impress?</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card my-3">
          <div class="card-body">
            <h5 class="card-title">Find the perfect sock<i class="ml-2 fas fa-search"></i></h5>
            <p class="card-text">Renting socks has never been easier. Start searching and find the right sock for you today.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card my-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title">Looking to rent out your socks?<i class="ml-2 fas fa-money-bill-wave"></i></h5>
            </div>
            <p class="card-text">Socks have become the future of side-hustles. Log in or sign up and make your socks available today.</p>
          </div>
      </div>
      </div>
      <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <div class="mt-2 mb-4">
          <h2>Find the perfect sock to fit your needs.</h2>
        </div>
      </div>
    </div>
  </div>
</div>




