body {
<<<<<<< HEAD
  background-image: image-url('just-waves.png');
=======
  background-image: image-url('so-white.png');
  background-size: cover;
>>>>>>> 9485e143c9ca09cdc695a687d6ee6762aff101f5
  border: none;
}
