.btn-ghost {
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
    font-size: larger;
    text-decoration: none;
    color: #000000;
  }
}

.btn-slide {
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 10px 32px;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: relative;
  text-decoration: none;
}

.btn-slide::after {
  content: "";
  border-radius: 10px;
  background-color: rgb(255, 125, 125);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  text-decoration: none;
}

.btn-slide:hover::after {
  top: 0px;
  left: 0px;
  text-decoration: none;
}
