.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8a2a2;
  padding: 10px;
  width: 100%;
  left: 0;
  bottom: 0;
  font-family: $headers-font;
  flex-shrink: 0;
  &a:hover {
    text-decoration: none;
  }
}
