.navbar-lewagon {
  justify-content: space-between;
  background: rgba(248, 162, 162, 1);
  border: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-search {
  display: inline-flexbox;
}

.sticky-map {
  position: sticky;
  top: 0px;
  z-index: 9999;

}
